.profile__user {
    display: grid;
    grid-template-areas:
    "name name edit"
    "info info info";
    row-gap: 16px;
    column-gap: 18px;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .profile__user {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__user {
        row-gap: 14px;
    }
}
