.photoalbum {
    margin: 50px 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 20px 17px;
    max-width: 880px;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .photoalbum {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
        justify-content: center;
    }
}

@media screen and (max-width: 610px) {
    .photoalbum {
        grid-template-columns: repeat(1, 282px);
        grid-template-rows: repeat(6, 361px);
        justify-content: center;
    }
}

@media screen and (max-width: 610px) {
    .photoalbum {
        margin: 36px 19px 0;
    }
}