.popup__save {
    height: 50px;
    margin: 48px 36px 37px;
    padding: 0;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
}

.popup__save:hover {
    opacity: 50%;
}

@media screen and (max-width: 400px) {
    .popup__user-about {
        margin: 45px 22px 25px;
        font-size: 14px;
    }
}